VITE_API_BASE_URL=http://localhost:8000/api
VITE_EYE_DONATION_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSft58DWp_iMra7fTjvjQVwHQkAmiDRN1SUGXsJmIJdYo-xJmg/viewform?usp=publish-editor
VITE_GOOGLE_MAPS_LAT=17.241720
VITE_GOOGLE_MAPS_LNG=80.116357
